*{border:0;
    margin: 0;
    }
    
    boddy{
        padding: 30px;
        height: 600px;
        border:30px solid;
        font-family: tahoma;
        background: linear-gradient(90deg,lime 100px,coral 200px);
        }
       div{text-align: center;
         margin: 0 auto;
         padding-top: 20px;
            }
               
            

    

 